extends layout

block content
  
  
  h1 SMART SCHOOL
  p Welcome to Smart School
  
  nav#forms-navigation
    header.hide
      h3 forms nav
    ul
      li.btn
        a(href='javascript:;',class='forms-nav users') users
      li.btn
        a(href='javascript:;',class='forms-nav countries') countries
      li.btn
        a(href='javascript:;',class='forms-nav schools') schools
  //Wrapper
  #wrapper
  
  //  /Wrapper
  script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
  script(src='/javascripts/global.js')

 