extends layout

block content

  //Wrapper
  #wrapper

  //  /WRAPPER
  script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
  script.
    var formConfig = {
      getAction 	: 	"api/users/userlist",
      deleteAction 	: 	"api/users/delete",
      updateAction 	: 	"api/users/update",
      addAction 	:	"api/users/adduser"
    }
  script(src='/javascripts/global.js')
  //script(src='/javascripts/users.js')
